/* src/pages/Register/RegisterPage.css */

.register-container {
    margin-top: 40px;
}

.register-box {
    padding: 16px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.register-form {
    margin-top: 16px;
}

.register-button {
    margin-top: 20px;
}
