.service-form-container {
    margin-top: 40px;
}

.service-form-box {
    padding: 16px;
    background-color: var(--mui-palette-background-paper, #3b2b50);
    border-radius: 12px;
}

.service-form {
    margin-top: 16px;
}

.service-form-button {
    margin-top: 20px;
}

