/* src/components/Header/Header.css */
.header-appbar {

}

.header-toolbar {
    display: flex;
    justify-content: space-between;
}

.header-title {
    flex-grow: 1;
}

.header-username {
    margin-left: 16px;
}
